.img-user{border-radius: 15px;}
.user{ border: 1px solid white}
.users-list{overflow-y: auto;}
.lente{   
    position: absolute;
    left: 10%;
}
.message-background{
    background:url("../img\ /mine.jpg");
    overflow-y: auto;

}
.message{
    padding: 5px;
    padding-left:10px ;
    border-radius: 15px;
}
.sent{
    background-color: green;
    color: white;
}

.recived{
    color: white;
}
.recivedbox{
    display: flex;
    justify-content: start;
}
.sendbox{
    display: flex;
    justify-content: end;
}
.write-bar{background-color: rgb(200, 200, 200);}

.write{border-radius: 12px;}