.img-user{border-radius: 15px;}
.user{ border: 1px solid white}
.users-list{overflow-y: auto;}
.lente{   
    border: 1px solid grey;
    padding: 10px;
    border-radius: 14px;
    width: 80%;
    background-color: rgb(240, 240, 240);
}
.message-background{
    background:url("../img\ /mine.jpg");
    overflow-y: auto;

}
.message{
    padding: 5px;
    padding-left:10px ;
    border-radius: 15px;
    min-width: 20%;
    max-width: 30%;
}
.search-user{
    border: 1px white;
    background-color: rgb(240, 240, 240);

}
.selettore{
    background-color: rgba(255, 255, 255, -1);
    border: none;
    width: 12px;
}
.sent{
    background-color: green;
    color: white;
    border: 1px solid papayawhip;

}

.recived{
    color:black;
    background-color:white;
    border: 1px solid papayawhip;
}
.recivedbox{
    display: flex;
    justify-content: start;
}
.sendbox{
    display: flex;
    justify-content: end;
}
.write-bar{background-color: rgb(200, 200, 200);}

.write{border-radius: 12px;}

.hidden{display: none !important;}